<h4 class="page-header">Totalização Por Item</h4> 

 <div id="list" class="row">
 <div class="table-responsive col-md-12">
 <table class="table table-striped" cellspacing="0" cellpadding="0" width="100%" height="100" >
  <thead>
      <tr><th class="titulo_item" >ACESSÓRIOS</th><th></th><th></th></tr>
      <tr>
             <th>Reserva</th>
             <th>Item</th>
             <th>Quantidade</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% @controles.each do |controle| %>
      <tr>
        <td><%= controle.reserva.sigla %></td>
        <td><%= controle.acessorio.descricao %></td>
        <td><%= controle.total_qtd %>    </td>
      </tr>
      <% end %>
    </tr>
    <tr><th class="titulo_item">MUNIÇÃO</th><th></th><th></th></tr>
     <% @controlesmunicao.each do |controlemunicao| %>
      <tr>
        <td><%= controlemunicao.reserva.sigla %></td>
        <td><%= controlemunicao.municao.descricao %></td>
        <td><%= controlemunicao.total_qtd %>    </td>
      </tr>
    <% end %>
     <tr><th class="titulo_item">ARMAMENTO</th></th><th></th><th></th></tr>
     <% @controlesarma.each do |controlearma| %>
      <tr>
        <td><%= controlearma.reserva.sigla %></td>
        <td><%= controlearma.armamento.modelo %></td>
        <td><%= controlearma.total_qtd %>    </td>
      </tr>
    <% end %>
    <tr>
          <th>Total Geral</th>
          <th><%=@total%></th>
          <th></th>
    </tr>
  </tbody>
</table>
<!-- Paginação -->
 <div class="text-center">
  <div class="pagination">
    <table>
     <tr>
       <td><%= paginate @controles %></td>
     <tr>
    </table>
  </div>
 </div>
<!--Fim Paginação-->
</div>
</div>
<%= link_to 'Voltar', controles_path, class: 'btn btn-default btn-sm' %> 