<h4 class="page-header">Totalização Por Item</h4> 

 <div id="list" class="row">
 <div class="table-responsive col-md-12">
 <table class="table table-striped" cellspacing="0" cellpadding="0" width="100%" height="100" >
  <thead>
    <tr>
             <th>Reserva</th>
             <th>Acessório</th>
             <th>Quantidade</th>
    </tr>
  </thead>

  <tbody>
    <% @controles.each do |controle| %>
      <tr>
        <td><%= controle.reserva.sigla %></td>
        <td><%= controle.acessorio.descricao %></td>
        <td><%= controle.total_qtd %>    </td>
      </tr>
    <% end %>
    <tr>
          <th>Total</th>
          <th><%=@total%></th>
          <th></th>
    </tr>
  </tbody>
</table>
<!-- Paginação -->
 <div class="text-center">
  <div class="pagination">
    <table>
     <tr>
       <td><%= paginate @controles %></td>
     <tr>
    </table>
  </div>
 </div>
<!--Fim Paginação-->
</div>
</div>
<%= link_to 'Voltar', controles_path, class: 'btn btn-default btn-sm' %> 