 <p id="notice"><%= notice %></p>

 <h4 class="page-header">Lista de Armamentos</h4>

 <div id="list" class="row">
 <div class="table-responsive col-md-12">
 <table class="table table-striped" cellspacing="0" cellpadding="0" width="100%" height="100" >
  <thead>
    <tr>
             <th>Armamento</th>
             <th>Qtd armamento</th>
             <th>Serie</th>
             <th>Reserva</th>
            <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservaarmamentos.each do |reservaarmamento| %>
      <tr>
        <td><%= reservaarmamento.armamento.modelo %></td>
        <td><%= reservaarmamento.qtd_armamento %></td>
        <td><%= reservaarmamento.serie %></td>
        <td><%= reservaarmamento.reserva.sigla %></td>
        <td class="actions">
         <%= link_to 'Visualizar', reservaarmamento,  class: 'btn btn-success btn-xs'%>
         <%= link_to 'Editar', edit_reservaarmamento_path(reservaarmamento), class: 'btn btn-warning btn-xs' %>
         <%= link_to 'Deletar', reservaarmamento, method: :delete, data: { confirm: 'Você tem Certeza?'}, class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- Paginação -->
 <div class="text-center">
  <div class="pagination">
    <table>
     <tr>
       <td><%= paginate @reservaarmamentos %></td>
     <tr>
    </table>
  </div>
 </div>
<!--Fim Paginação-->
</div>
</div>
<%= link_to 'Novo Reservaarmamento', new_reservaarmamento_path, class: 'btn btn-success btn-sm' %>