 <p id="notice"><%= notice %></p>

 <h4 class="page-header">Reserva</h4>

 <div id="list" class="row">
 <div class="table-responsive col-md-12">
 <table class="table table-striped" cellspacing="0" cellpadding="0" width="100%" height="100" >
  <thead>
    <tr>
             <th>Sigla</th>
             <th>Descrição</th>
             <th>Status</th>
             <th>Data</th>
            <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservas.each do |reserva| %>
      <tr>
        <td><%= reserva.sigla %></td>
        <td><%= reserva.descricao %></td>
        <td><%= reserva.status %></td>
        <td><%=formato_data(reserva.data) %></td>
        <td class="actions">
         <!--<%= link_to 'Visualizar', reserva,  class: 'btn btn-success btn-xs'%>-->
         <%= link_to 'Editar', edit_reserva_path(reserva), class: 'btn btn-warning btn-xs' %>
         <%= link_to 'Deletar', reserva, method: :delete, data: { confirm: 'Você tem Certeza?'}, class: 'btn btn-danger btn-xs' %>
            <a class="btn btn-success btn-xs"<%= link_to 'Acessorios', {:controller => "reservaacessorios", :action => "index", :reserva_id => reserva.id}%> </a>
           
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- Paginação -->
 <div class="text-center">
  <div class="pagination">
    <table>
     <tr>
       <td><%= paginate @reservas %></td>
     <tr>
    </table>
  </div>
 </div>
<!--Fim Paginação-->
</div>
</div>
<%= link_to 'Nova Reserva', new_reserva_path, class: 'btn btn-success btn-sm' %>
