<p id="notice"><%= notice %></p>
<div id="main" class="container-fluid">
<h4 class="page-header">Visualizar</h4>

<p>
  <strong>Sigla:</strong>
  <%= @reserva.sigla %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @reserva.descricao %>
</p>

<p>
  <strong>User:</strong>
  <%= @reserva.user_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @reserva.status %>
</p>

<p>
  <strong>Data:</strong>
  <%= @reserva.data %>
</p>

</div>
<a class="btn btn-default btn-sm"  <%= link_to 'Voltar', reservas_path %> </a>