<p id="notice"><%= notice %></p>

<h1>Militars</h1>

<table>
  <thead>
    <tr>
      <th>Posto</th>
      <th>Nome</th>
      <th>Nome guerra</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @militars.each do |militar| %>
      <tr>
        <td><%= militar.posto %></td>
        <td><%= militar.nome %></td>
        <td><%= militar.nome_guerra %></td>
        <td><%= link_to 'Show', militar %></td>
        <td><%= link_to 'Edit', edit_militar_path(militar) %></td>
        <td><%= link_to 'Destroy', militar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Militar', new_militar_path %>
