<%= form_with(model: armamento, local: true) do |form| %>
  <% if armamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(armamento.errors.count, "error") %> prohibited this armamento from being saved:</h2>

      <ul>
      <% armamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<table>
    <tr>
     <td><%= form.label :Modelo %></td>
     <td class="col-md-9" width="100" ><%= form.text_field :modelo, id: :armamento_modelo %></td>
    <tr><td><br></td></tr>
    <tr>
     <td><%= form.label :Fabricante %></td>
     <td class="col-md-9" width="100" ><%= form.text_field :fabricante, id: :armamento_fabricante %></td>
    <tr><td><br></td></tr>
</table>
  
  <div class="actions">
    <%= form.submit class: 'btn btn-success btn-sm' %>
  </div>
<% end %>