<p id="notice"><%= notice %></p>
<div id="main" class="container-fluid">
<h4 class="page-header">Visualizar</h4>

<p>
  <strong>Serie:</strong>
  <%= @armamento.serie %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @armamento.modelo %>
</p>

<p>
  <strong>Fabricante:</strong>
  <%= @armamento.fabricante %>
</p>

</div>
<a class="btn btn-default btn-sm"  <%= link_to 'Voltar', armamentos_path %> </a>