 <p id="notice"><%= notice %></p>

 <h4 class="page-header">Reservamaterials</h4>

 <div id="list" class="row">
 <div class="table-responsive col-md-12">
 <table class="table table-striped" cellspacing="0" cellpadding="0" width="100%" height="100" >
  <thead>
    <tr>
             <th>Reserva</th>
             <th>Munição</th>
             <th>Acessório</th>
             <th>Status</th>
            <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservamaterials.each do |reservamaterial| %>
      <tr>
                    <td><%= reservamaterial.reserva.sigla %></td>
                    <td><%= reservamaterial.municao_id %></td>
                    <td><%= reservamaterial.acessorio_id %></td>
                    <td><%= reservamaterial.status %></td>
                    <td><%= reservamaterial.user_id %></td>
                    <td><%= reservamaterial.data %></td>
                <td class="actions">
         <%= link_to 'Visualizar', reservamaterial,  class: 'btn btn-success btn-xs'%>
         <%= link_to 'Editar', edit_reservamaterial_path(reservamaterial), class: 'btn btn-warning btn-xs' %>
         <%= link_to 'Deletar', reservamaterial, method: :delete, data: { confirm: 'Você tem Certeza?'}, class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- Paginação -->
 <div class="text-center">
  <div class="pagination">
    <table>
     <tr>
       <td><%= paginate @reservamaterials %></td>
     <tr>
    </table>
  </div>
 </div>
<!--Fim Paginação-->
</div>
</div>
<%= link_to 'Novo Reservamaterial', new_reservamaterial_path, class: 'btn btn-success btn-sm',{:controller => "reservamaterials", :action => "new", :reserva_id => params[:reserva_id]} %>