<%= form_with(model: municao, local: true) do |form| %>
  <% if municao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(municao.errors.count, "error") %> prohibited this municao from being saved:</h2>

      <ul>
      <% municao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :calibre %>
    <%= form.text_field :calibre, id: :municao_calibre %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao, id: :municao_descricao %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
