<p id="notice"><%= notice %></p>

<p>
  <strong>Calibre:</strong>
  <%= @municao.calibre %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @municao.descricao %>
</p>

<%= link_to 'Edit', edit_municao_path(@municao) %> |
<%= link_to 'Back', municaos_path %>
