<%= form_with(model: cautela, local: true) do |form| %>
  <% if cautela.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cautela.errors.count, "error") %> prohibited this cautela from being saved:</h2>

      <ul>
      <% cautela.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<table>
    <tr>
     <td><%= form.label :Militar %></td>
     <td class="col-md-9" width="100" ><%= collection_select(:cautela, :militar_id, @militars, :id, :nome ) %></td>
    <tr><td><br></td></tr>
    <tr>
     <td><%= form.label :Reserva %></td>
     <td class="col-md-9" width="100" ><%= collection_select(:cautela, :reserva_id, @reservas, :id, :sigla ) %></td>
    <tr><td><br></td></tr>
    <tr>
     <td><%= form.label :data_cautela,"Data Cautela" %></td>
     <td class="col-md-9" width="100" ><%= form.datetime_select :data_cautela, id: :cautela_data_cautela %></td>
    <tr><td><br></td></tr>

</table>
  
  <div class="actions">
    <%= form.submit class: 'btn btn-success btn-sm' %>
  </div>
<% end %>