 <p id="notice"><%= notice %></p>

 <h4 class="page-header">Cautelas</h4>

 <div id="list" class="row">
 <div class="table-responsive col-md-12">
 <table class="table table-striped" cellspacing="0" cellpadding="0" width="100%" height="100" >
  <thead>
    <tr>
             <th>Militar</th>
             <th>Reserva</th>
             <th>Data cautela</th>
             <th>Data fim cautela</th>
            <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @cautelas.each do |cautela| %>
      <tr>
            <td><%= cautela.militar.nome_guerra %></td>
            <td><%= cautela.reserva.sigla %></td>
            <td><%= cautela.data_cautela %></td>
            <td><%= cautela.data_fim_cautela %></td>
            <td class="actions">
             <%= link_to 'Visualizar', cautela,  class: 'btn btn-primary btn-xs'%>
             <%= link_to 'Editar', edit_cautela_path(cautela), class: 'btn btn-warning btn-xs' %>
             <a class="btn btn-success btn-xs"<%= link_to 'Acessórios', {:controller => "reservaacessorios", :action => "index", :reserva_id => cautela.reserva_id}%> </a>
             <a class="btn btn-success btn-xs"<%= link_to 'Munição', {:controller => "reservamunicaos", :action => "index", :reserva_id => cautela.reserva_id}%> </a>
             <a class="btn btn-success btn-xs"<%= link_to 'Armamento', {:controller => "reservaarmamentos", :action => "index", :reserva_id => cautela.reserva_id}%> </a>
            </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- Paginação -->
 <div class="text-center">
  <div class="pagination">
    <table>
     <tr>
       <td><%= paginate @cautelas %></td>
     <tr>
    </table>
  </div>
 </div>
<!--Fim Paginação-->
</div>
</div>
<%= link_to 'Novo Cautela', new_cautela_path, class: 'btn btn-success btn-sm' %>