 <p id="notice"><%= notice %></p>

 <h4 class="page-header">Cautelas</h4>

 <div id="list" class="row">
 <div class="table-responsive col-md-12">
 <table class="table table-striped" cellspacing="0" cellpadding="0" width="100%" height="100" >
  <thead>
    <tr>
             <th>Militar</th>
             <th>Reserva</th>
             <th>Data Cautela</th>
             <th>Data Término</th>
            <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @cautelas.each do |cautela| %>
      <tr>
            <td><%= cautela.militar.nome %></td>
            <td><%= cautela.reserva.sigla %></td>
            <td><%= formato_data_hora(cautela.data_cautela) %></td>
            <td><%= formato_data_hora(cautela.data_fim_cautela) %></td>
            <td class="actions">
            
             <%= link_to 'Visualizar', cautela, class: 'btn btn-info btn-xs' %>
             <%if can? :admin_reserva, Cautela%> 
              <% if  cautela.status== 't'&& cautela.data_fim_cautela.nil? %>
                 <%= link_to 'Editar', edit_cautela_path(cautela), class: 'btn btn-warning btn-xs' %>
                 <a class="btn btn-success btn-xs"<%= link_to 'Acessórios', {:controller => "cautelaacessorios", :action => "index", :reserva_id => cautela.reserva_id,:cautela_id => cautela.id}%> </a>
                 <a class="btn btn-success btn-xs"<%= link_to 'Munição', {:controller => "cautelamunicaos", :action => "index", :reserva_id => cautela.reserva_id,:cautela_id => cautela.id}%> </a>
                 <a class="btn btn-success btn-xs"<%= link_to 'Armamento', {:controller => "cautelaarmamentos", :action => "index", :reserva_id => cautela.reserva_id,:cautela_id => cautela.id}%> </a>
                 <%= link_to 'Finalizar', finalizar_cautela_path(cautela), class: 'btn btn-primary btn-xs' %>
                 <%= link_to 'Comprovante', comprovante_cautela_path(cautela,format: :pdf), target: '_blank', class: 'btn btn-default btn-xs' %>
              <% end %>
             <% end %>  
            </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- Paginação -->
 <div class="text-center">
  <div class="pagination">
    <table>
     <tr>
       <td><%= paginate @cautelas %></td>
     <tr>
    </table>
  </div>
 </div>
<!--Fim Paginação-->
</div>
</div>
<%if can? :admin_reserva, Cautela%> 
  <%= link_to 'Nova Cautela', new_cautela_path, class: 'btn btn-success btn-sm' %>
<%end%>
