<p id="notice"><%= notice %></p>
<div id="main" class="container-fluid">
<h4 class="page-header">Visualizar</h4>

<p>
  <strong>Militar:</strong>
  <%= @cautela.militar.nome %>
</p>

<p>
  <strong>Reserva:</strong>
  <%= @cautela.reserva.sigla %>
</p>

<p>
  <strong>Data cautela:</strong>
  <%= formato_data(@cautela.data_cautela) %>
</p>

<p>
  <strong>Data fim cautela:</strong>
  <%= formato_data(@cautela.data_fim_cautela) %>
</p>

</div>
<a class="btn btn-default btn-sm"  <%= link_to 'Voltar', cautelas_path %> </a>