<h4 class="page-header">Itens Cautelados</h4> 

 <div id="list" class="row">
 <div class="table-responsive col-md-12">
 <table class="table table-striped" cellspacing="0" cellpadding="0" width="100%" height="100" >
  <thead>
     
      <tr><th colspan="5" >MILITAR: <%= @cautelas.militar.nome%>   /  DATA CAUTELA: <%=formato_data_hora(@cautelas.data_cautela)%><th></tr>
      <tr><th colspan="5"  class="titulo_item" >ACESSÓRIOS</th></tr>
      <tr>
             <th>Reserva</th>
             <th>Item</th>
             <th>Quantidade</th>
             <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% @cautelaacessorios.each do |cautelaacessorios| %>
      <tr>
        <td><%=cautelaacessorios.cautela.reserva.sigla %></td>
        <td><%=cautelaacessorios.reservaacessorio.acessorio.descricao %></td>
        <td><%= cautelaacessorios.qtd_acessorio %>    </td>
        <%if cautelaacessorios.baixa == true %>
            <td>   Baixado</td>
         <%else%>
              <td> Não Baixado</td>
        <%end%>
      </tr>
      <% end %>
    </tr>
    <tr><th colspan="5" class="titulo_item">MUNIÇÃO</th></tr>
     <% @cautelamunicaos.each do |cautelamunicaos| %>
      <tr>
        <td><%=cautelamunicaos.cautela.reserva.sigla %></td>
        <td><%=cautelamunicaos.reservamunicao.municao.descricao %></td>
        <td><%= cautelamunicaos.qtd_municao %>    </td>
        <%if cautelamunicaos.baixa == true %>
            <td>   Baixado</td>
        <%else%>
              <td> Não Baixado</td>
        <%end%>
      </tr>
      <% end %>
     <tr><th colspan="5"  class="titulo_item">ARMAMENTO</th></tr>
       <% @cautelaarmamentos.each do |cautelaarmamentos| %>
           <tr>
            <td><%=cautelaarmamentos.cautela.reserva.sigla %></td>
            <td><%=cautelaarmamentos.reservaarmamento.armamento.modelo %></td>
            <td><%=cautelaarmamentos.qtd_armamento %>    </td>
            <%if cautelaarmamentos.baixa == true %>
                <td>   Baixado</td>
            <%else%>
                  <td> Não Baixado</td>
            <%end%>
           </tr>
      <% end %>
     <tr>
      <th colspan="5" >Total Geral</th>
  
    </tr>
  </tbody>
</table>

</div>
</div>
 <a class="btn btn-default btn-sm"  <%= link_to 'Voltar', cautelas_path %></a>
