<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
<table>
   <tr>
    <td><%= f.label :nome,"Nome" %></td>
    <td class="col-md-10" width="100" > <%= f.text_field :nome %></td>
   </tr>
   <tr><td><br></td></tr>
   
   <tr>
     <td><%= f.label :email,"E-mail" %></td>
     <td class="col-md-10" width="100" ><%= f.text_field :email, id: :user_email %></td>
    </tr>
   <tr><td><br></td></tr>
   </table>
   <table>
   <tr>
    <td > <%= f.check_box :admin, {}, true %> <%= f.label :admin, "Administrador Total" %> </td>
   </tr>
   <tr><td><br></td></tr>
   
   <tr>
     <td><%= f.check_box :admin_reserva, {}, true %> <%= f.label :admin_reserva, "Admin. Reserva" %> </td>
   </tr>
   <tr><td><br></td></tr>
</table>
  <div class="actions">
    <%= f.submit class: 'btn btn-success btn-sm' %>
  </div>
<% end %>