 <p id="notice"><%= notice %></p>

 <h4 class="page-header">Lista de Acessórios</h4>

 <div id="list" class="row">
 <div class="table-responsive col-md-12">
 <table class="table table-striped" cellspacing="0" cellpadding="0" width="100%" height="100" >
  <thead>
    <tr>    
         <th>Reserva</th>
         <th>Acessório</th>
         <th>Quantidade</th>
         <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservaacessorio.each do |reservaacessorio| %>
      <tr>
         <td><%= reservaacessorio.reserva.sigla %></td>
         <td><%= reservaacessorio.acessorio.descricao %></td>
         <td><%= reservaacessorio.qtd_acessorio %></td>
         <td class="actions">
         <%= link_to 'Visualizar', reservaacessorio,  class: 'btn btn-success btn-xs'%>
         <%= link_to 'Deletar', reservaacessorio, method: :delete, data: { confirm: 'Você tem Certeza?'}, class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- Paginação -->
 <div class="text-center">
  <div class="pagination">
    <table>
     <tr>
       <td><%= paginate @reservaacessorio %></td>
     <tr>
    </table>
  </div>
 </div>
<!--Fim Paginação-->
</div>
</div>


<%= link_to 'Novo Item', new_reservaacessorio_path, class: 'btn btn-success btn-sm' %>
<%= link_to 'Voltar', reservas_path, class: 'btn btn-default btn-sm' %> 