<p id="notice"><%= notice %></p>
<div id="main" class="container-fluid">
<h4 class="page-header">Visualizar</h4>

<p>
  <strong>Acessorio:</strong>
  <%= @reservaacessorio.acessorio.descricao %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @reservaacessorio.qtd_acessorio %>
</p>

<p>
  <strong>Reserva:</strong>
  <%= @reservaacessorio.reserva.sigla %>
</p>

</div>
<a class="btn btn-default btn-sm"  <%= link_to 'Voltar', reservaacessorios_path %> </a>