<%= form_with(model: acessorio, local: true) do |form| %>
  <% if acessorio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(acessorio.errors.count, "error") %> prohibited this acessorio from being saved:</h2>

      <ul>
      <% acessorio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<table>
    <tr>
     <td><%= form.label :descricao %></td>
     <td class="col-md-9" width="100" ><%= form.text_field :descricao, id: :acessorio_descricao %></td>
    <tr><td><br></td></tr>
</table>
  
  <div class="actions">
    <%= form.submit class: 'btn btn-success btn-sm' %>
  </div>
<% end %>