<p id="notice"><%= notice %></p>

<h1>Acessorios</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @acessorios.each do |acessorio| %>
      <tr>
        <td><%= acessorio.descricao %></td>
        <td><%= link_to 'Show', acessorio %></td>
        <td><%= link_to 'Edit', edit_acessorio_path(acessorio) %></td>
        <td><%= link_to 'Destroy', acessorio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Acessorio', new_acessorio_path %>
