 <p id="notice"><%= notice %></p>

 <h4 class="page-header">Lista Acessórios</h4>

 <div id="list" class="row">
 <div class="table-responsive col-md-12">
 <table class="table table-striped" cellspacing="0" cellpadding="0" width="100%" height="100" >
  <thead>
    <tr>
             <th>Cautela-Militar</th>
              <th>Acessório</th>
             <th>Qtd. Item</th>
             <th>Qtd. Item Baixado</th>
             <th>Status</th>
            <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @cautelaacessorios.each do |cautelaacessorio| %>
      <tr>
        <td><%= cautelaacessorio.cautela_id.to_s+"-"+cautelaacessorio.cautela.militar.nome  %></td>
        <td><%= cautelaacessorio.reservaacessorio.acessorio.descricao %></td>
        <td><%= cautelaacessorio.qtd_acessorio %></td>
        <td><%= cautelaacessorio.qtd_acessorio_baixa %></td>
        <%if cautelaacessorio.baixa == true %>
            <td>   Baixado</td>
        <%else%>
              <td> Não Baixado</td>
        <%end%>
        <td class="actions">
         <%= link_to 'Visualizar', cautelaacessorio_path(cautelaacessorio,:reserva_id =>params[:reserva_id], :cautela_id =>params[:cautela_id],:baixar=>false,:reservaacessorio_id =>cautelaacessorio.reservaacessorio_id),  class: 'btn btn-info btn-xs'%>
         <% if  cautelaacessorio.baixa !=  true %>
           <%= link_to 'Baixar', edit_cautelaacessorio_path(cautelaacessorio,:reserva_id =>params[:reserva_id], :cautela_id =>params[:cautela_id],:baixar=>true,:reservaacessorio_id =>cautelaacessorio.reservaacessorio_id), class: 'btn btn-primary btn-xs' %>
           <%= link_to 'Deletar', cautelaacessorio_path(cautelaacessorio,:reserva_id =>params[:reserva_id], :cautela_id =>params[:cautela_id],:baixar=>false,:reservaacessorio_id =>cautelaacessorio.reservaacessorio_id), method: :delete, data: { confirm: 'Você tem Certeza?'}, class: 'btn btn-danger btn-xs' %>
        <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- Paginação -->
 <div class="text-center">
  <div class="pagination">
    <table>
     <tr>
       <td><%= paginate @cautelaacessorios %></td>
     <tr>
    </table>
  </div>
 </div>
<!--Fim Paginação-->
</div>
</div>
<%= link_to 'Novo Item', new_cautelaacessorio_path(:reserva_id =>params[:reserva_id], :cautela_id =>params[:cautela_id]), class: 'btn btn-success btn-sm' %>
<%= link_to 'Voltar', cautelas_path, class: 'btn btn-default btn-sm' %> 