 <p id="notice"><%= notice %></p>

 <h4 class="page-header">Lista Acessórios</h4>

 <div id="list" class="row">
 <div class="table-responsive col-md-12">
 <table class="table table-striped" cellspacing="0" cellpadding="0" width="100%" height="100" >
  <thead>
    <tr>
             <th>Cautela-Militar</th>
             <th>Quantidade Acessórios</th>
             <th>Quantidade Acessorio Baixados</th>
             <th>Data Baixa</th>
             <th>Status</th>
            <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @cautelaacessorios.each do |cautelaacessorio| %>
      <tr>
        <td><%= cautelaacessorio.cautela_id+'-'+cautelaacessorio.cautela.militar.nome  %></td>
        <td><%= cautelaacessorio.qtd_acessorio %></td>
        <td><%= cautelaacessorio.qtd_acessorio_baixa %></td>
        <td><%= cautelaacessorio.data_baixa %></td>
        <td><%= cautelaacessorio.baixa %></td>
        <td class="actions">
         <%= link_to 'Visualizar', cautelaacessorio,  class: 'btn btn-success btn-xs'%>
         <%= link_to 'Editar', edit_cautelaacessorio_path(cautelaacessorio), class: 'btn btn-warning btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- Paginação -->
 <div class="text-center">
  <div class="pagination">
    <table>
     <tr>
       <td><%= paginate @cautelaacessorios %></td>
     <tr>
    </table>
  </div>
 </div>
<!--Fim Paginação-->
</div>
</div>
<%= link_to 'Novo Cautelaacessorio', new_cautelaacessorio_path, class: 'btn btn-success btn-sm' %>