<p id="notice"><%= notice %></p>
<div id="main" class="container-fluid">
<h4 class="page-header">Visualizar</h4>

<p>
  <strong>Cautela-Militar:</strong>
  <%= @cautelaacessorio.cautela_id.to_s+'-'+@cautelaacessorio.cautela.militar.nome  %>
</p>

<p>
  <strong>Qtd acessorio:</strong>
  <%= @cautelaacessorio.qtd_acessorio %>
</p>

<p>
  <strong>Qtd acessorio baixa:</strong>
  <%= @cautelaacessorio.qtd_acessorio_baixa %>
</p>


<p>
  <strong>Status:</strong>
  <%if @cautelaacessorio.baixa == true %>
    Baixado
  <%else%>
    Não Baixado
  <%end%>
</p>

</div>
<a class="btn btn-default btn-sm"  <%= link_to 'Voltar', cautelaacessorios_path(:reserva_id =>params[:reserva_id], :cautela_id =>params[:cautela_id]) %> </a>