<!DOCTYPE html>
<html>
    <head>
    <title>Controle da Reserva Ufba</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> 
    <link rel="shortcut icon" href="http://www.licenser.com.br/images/client/icone-big-exercito.png"/>

<meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>

<body>
    <div id="navbar-wrapper">
        <header>
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">CONTROLE DA RESERVA</a>
                    </div>
                    <div id="navbar-collapse" class="collapse navbar-collapse">
                        
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a id="flag" href="/" class="dropdown-toggle" data-toggle="dropdown">
                                  <div class="hidden-xs">
                                    <img src="http://www.country-dialing-codes.net/img/png-country-4x2-flat-res-640x480/br.png" alt="Brasil" width="28px" height="18px">
                                </div>
                                </a>
                            </li>
                            <li class="dropdown">
                                 
                                 <% if user_signed_in? %>
                                <a id="user-profile" href="#" class="dropdown-toggle" data-toggle="dropdown">
                        
                                    <img src="http://laurabethany.com/img/ic-user.png" class="img-responsive img-thumbnail img-circle"><%= current_user.nome %></a>
                                <ul class="dropdown-menu dropdown-block" role="menu">
                                    
                                    <li><a href="/perfil">Editar Perfil</a></li>
                                    <li><a href="/logout">Sair</a></li>
                                    <%end%>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <aside id="sidebar">
                <ul id="sidemenu" class="sidebar-nav">
                    <li>
                        <a href="/">
                            <span class="sidebar-icon"><i class="fa fa-home"></i></span>
                            <span class="sidebar-title">Home</span>
                        </a>
                    </li>
                    
  
                    <li>
                           <%if can? :admin_reserva, User%>
                           <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-2">
                               <span class="sidebar-icon"><i class="fa fa-users"></i></span>
                               <span class="sidebar-title">Usuários</span>
                               <b class="caret"></b>
                           </a>
                      
                               <ul id="submenu-2" class="panel-collapse collapse panel-switch" role="menu">
                                  <%if can? :admin, User%>
                                   <li><a href="/user"><i class="fa fa-user"></i>Perfis</a></li>
                                  <%end%> 
                                   <li><a href="/usermilitars"><i class="fa fa-user"></i>Associar</a></li>
                               </ul>
                          <%end%> 
                    </li>
             
                    <li>
                        <%if can? :admin_reserva, User%>
                        <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-3">
                            <span class="sidebar-icon"><i class="fa fa-list"></i></span>
                            <span class="sidebar-title">Cadastros</span>
                            <b class="caret"></b>
                        </a>
                        <ul id="submenu-3" class="panel-collapse collapse panel-switch" role="menu">
                             <li><a href="/militars"><i class="fa fa-user-plus "></i>Militar</a></li>
                             <li><a href="/acessorios"><i class="fa fa-tags"></i>Acessório</a></li>
                             <li><a href="/"><i class="fa fa-arrow-circle-down"></i>Armamento</a>
                                 <ul class="p">
                                       <li><a href="/municaos"><i class="fa fa-shield"></i>Munição</a></li>
                                       <li><a href="/armamentos"><i class="fa fa-exchange"></i>Armas</a></li>
                                 </ul>
                             </li>
                        
                        </ul>
                        <%end%>
                    </li>
                    <li>
                        <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-4">
                            <span class="sidebar-icon"><i class="fa fa-check-square-o "></i></span>
                            <span class="sidebar-title">Reserva</span>
                            <b class="caret"></b>
                        </a>
                        <ul id="submenu-4" class="panel-collapse collapse panel-switch" role="menu">
                             <%if can? :admin_reserva, User%>
                              <li><a href="/reservas"><i class="fa fa-pencil-square-o"></i>Cadastro</a></li>
                            <%end%>
                              <li><a href="/controles"><i class="fa fa-exchange"></i>Controle</a></li>
                             <li><a href="/cautelas"><i class="fa fa-male"></i>Cautela</a></li>
                        </ul>
                    </li>
                    <li>
                          <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-5">
                            <span class="sidebar-icon"><i class="fa fa-link"></i></span>
                            <span class="sidebar-title">Links Utéis</span>
                            <b class="caret"></b>
                          </a>
                        <ul id="submenu-5" class="panel-collapse collapse panel-switch" role="menu">
                             <li><a href="https://github.com/controlereservaufba"><i class="fa fa-github"></i>GitHub</a></li>
                        </ul>
                    </li>
                </ul>
            </aside>            
        </div>
        <main class="container-fluid">
           <div class="container-fluid">
          <%= yield %>
          </div>
        </main>
    </div> 
</body>

</html>